footer.site-footer {
    padding: 30px 30px 50px;
    .mobile-logo {
        display: block;
        margin-bottom: 50px;
        @media (min-width: 1100px) {
            display: none;
        }
        img {
            margin: 0 auto;
            max-width: 250px;
        }
    }
    h4,
    h5,
    h6 {
        text-transform: uppercase;
        font-weight: 700;
        color: $grey;
        margin: 0 0 5px;
    }
    h4,
    h6 {
        font-size: 1.4rem
    }
    h5 {
        font-size: 1.1rem;
    }
    h6.bold {
        font-weight: 900;
    }
    p {
        color: $grey;
        margin: 0 0 5px;
    }
    ul {
        list-style: none;
        margin: 0 0 10px;
        margin-block-start: 0;
        padding-inline-start: 10px;
    }
    a {
        color: $grey;
        font-size: 1.1rem;
    }
    .social {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 500px;
        margin: 0 auto 50px;
        a {
            display: block;
            margin: 0 5px;
        }
    }
    .main-footer-area {
        max-width: 1100px;
        margin: 0 auto;
        @media (min-width: 1100px) {
            display: flex;
        }
        .left-side {
            max-width: 700px;
            margin: 0 auto;
            margin-bottom: 50px;
            @media (min-width: 480px) {
                display: flex;
                &>div {
                    width: 50%;
                    margin: 0 5px;
                }
            }
        }
        .right-side {
            max-width: 700px;
            margin: 0 auto;
            @media (min-width: 1100px) {
                display: flex;
                &>div {
                    width: 50%;
                    margin: 0 5px;
                }
            }
            .column3 {
                display: none;
                margin-bottom: 50px;
                a {
                    img {
                        margin: 0 auto;
                    }
                }
                @media (min-width: 1100px) {
                    display: block;
                    max-width: 275px;
                }
            }
            h6,
            p {
                text-align: center;
            }
        }
    }
}

// footer
#secondary.widget-area {
    background: #392745 !important;
    margin-top: 0;
}

// Scroll to Top button
#myBtn {
    transition: bottom 0.5s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    /* Fixed/sticky position */
    bottom: 80px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: $gold;
    /* Set a background color */
    color: $purple-text;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 14px;
    /* Increase font size */
    &:hover {
        background-color: #555;
        /* Add a dark-grey background on hover */
    }
}