.enroll-now-button {
    padding: 15px;
    display: block;
    font-size: 22px;
    text-align: center;
    color: #392745;
    background-color: #f1d59d;
    width: 220px;
    margin: 0 auto;
    border-radius: 10px;
}

.enroll-now-button:hover {
    background-color: #392745;
    color: #f1d59d;
}

.site-main {
    padding: 0 30px 30px;
}

.sticky {
    display: block;
}

.post,
.page {
    margin: 0;
}

.updated:not(.published) {
    display: none;
}

.page-content {
    max-width: 1140px;
    margin: 0 auto !important;
    display: block;
}

.post-thumbnail,
.entry-content {
    max-width: 1280px;
    margin: 0 auto !important;
}

.post {
    .entry-header {
        text-align: center;
        margin: 50px auto;
        padding: 25px 0;
        background-color: #f5f5f5;
        .entry-title {
            margin: 0;
            font-size: 42px;
        }
        .entry-meta {
            font-size: 14px;
        }
    }
    .entry-content {
        padding-bottom: 75px;
        display: flex;
        flex-direction: row;
        .layout-1-third {
            width: 33.33%;
            padding-left: 50px;
            .post-thumbnail {
                width: 100% !important;
            }
        }
        .layout-2-third {
            width: 66.66%;
        }
    }
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

// Events page - header video
.video-header-overlay .vc_video-bg::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}


/* BLOG PAGE */

.blog-product-cats a {
    color: rgba(0, 0, 0, 0.5)!important;
    font-weight: 300;
    line-height: 1.2;
    padding: 9px 0;
    display: block;
}

.single-post h1.entry-title {
    font-size: 4em;
}


/* HOME PAGE */

.start-your-journey .uael-first-text {
    font-family: "adelia", sans;
    font-size: 75px;
}

.start-your-journey h2 {
    white-space: nowrap;
}

.start-your-journey .uael-highlight-text {
    font-family: 'LemonMilklight', sans;
    font-size: 32.5px;
}

.im-deb .uael-highlight-text {
    font-family: "adelia", sans;
    font-size: 42px;
}

.online-courses .uael-first-text,
.mediums-mission .uael-first-text {
    font-family: "adelia", sans;
    font-size: 55px;
}

.online-courses .uael-highlight-text,
.mediums-mission .uael-highlight-text {
    font-family: 'LemonMilklight', sans;
    font-size: 45px;
}

.book-a-reading-home .uael-first-text {
    font-family: 'LemonMilklight', sans;
    font-size: 42px;
}

.book-a-reading-home .uael-highlight-text {
    font-family: "adelia", sans;
    font-size: 65px;
}

.three-items-home-row {
    a {
        &.title-bar {
            color: #fff;
            font-weight: 400;
            text-align: center;
            background: $purple;
            width: 100%;
            display: block;
            padding: 5px;
            &:hover {
                background: $mauve;
                color: $purple-text;
            }
        }
    }
}

.three-items-home-row a:hover .title-bar {
    background-color: $mauve;
    color: $purple-text;
}

// THREE DAYS PAGES
.three-days-header .tdh-first h2 {
    font-family: "adelia", sans;
    font-size: 66px;
}

.three-days-header .tdh-second h2 {
    font-family: 'LemonMilklight', sans;
    font-size: 36px;
}

.three-thank-you .uael-first-text {
    font-family: "adelia", sans;
    font-size: 50px;
}

.three-thank-you .uael-highlight-text {
    font-family: 'LemonMilklight', sans;
    font-size: 40px;
    letter-spacing: 5px;
}

.script-font.life-changing {
    h2 {
        font-family: "adelia", sans!important;
        font-size: 30px;
        text-align: center;
        @media (min-width: 850px) {
            font-size: 39px;
            text-align: right;
        }
        @media (min-width: 1090px) {
            font-size: 52px;
        }
    }
}

.script-font.im-deb h2 {
    font-family: "adelia", sans!important;
    font-size: 27px;
}

.threedays-popup {
    @media (min-width: 550px) {
        display: flex;
    }
    .three-days-interior {
        @media (min-width: 850px) {
            width: 50%;
        }
    }
}

.three-days-list ul {
    margin: 0 0 1.5em 1em;
}


/* ABOUT PAGE */

.about-my-story {
    width: 380px;
    max-width: 380px;
}

.about-my-story:after {
    content: url('/wp-content/themes/debsheppard-2021/assets/images/heading-flare.png');
    position: absolute;
    top: -20px;
    right: -130px;
}

// Speaking page - poly shapes
#poly-top {
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

#poly-bottom {
    clip-path: polygon(100% 0%, 50% 100%, 0% 0%);
}

// Testimonials page - center youtube video
#testimonials-center-section {
    text-align: center;
}

// Fixes 4 videos on Videos Page
.yotu-column-4 li {
    width: 24% !important;
}

// SHOP PAGE
.page-id-57267 {
    .shoph2 h2 {
        font-family: "adelia", sans!important;
        font-size: 40px;
        text-align: center;
    }
    .shoph3 h3 {
        font-size: 20px;
        font-size: 24px;
        text-align: center;
        letter-spacing: 3px;
        font-weight: 500;
    }
    .shopunderline,
    .shopbydeb {
        margin-bottom: 0!important;
    }
    .shopbydeb p {
        margin-top: 0;
    }
    .shoph3 {
        margin-bottom: -10px!important;
    }
}

// GRIEVING TO BELIEVING PAGE
.page-id-58298 {
    background: #000;
    background-image: linear-gradient(0deg, #3B2945 20%, #000 33%)
}

@media screen and (min-width: 768px) {
    .page-id-58298 {
        background: #000;
        background-image: linear-gradient(0deg, #3B2945 24%, #000 36%)
    }
}

@media screen and (min-width: 1100px) {
    .page-id-58298 {
        background: #000;
        background-image: linear-gradient(0deg, #3B2945 16%, #000 28%)
    }
}

.page-id-58420,
.page-id-58327 {
    background: #000;
    background-image: linear-gradient(180deg, #000 9%, #3B2945 22%)
}

@media screen and (min-width: 768px) {
    .page-id-58420,
    .page-id-58327 {
        background: #000;
        background-image: linear-gradient(180deg, #000 11%, #3B2945 22%)
    }
}

@media screen and (min-width: 1100px) {
    .page-id-58420,
    .page-id-58327 {
        background: #000;
        background-image: linear-gradient(180deg, #000 13%, #3B2945 26%)
    }
}

.gtb-hero-section {
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 67%);
    position: relative;
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 36%, rgba(0, 0, 0, 0) 57%);
        position: absolute;
        top: 0;
        left: 0;
    }
}

.gtb-watch-button .elementor-text-editor,
.gtb-subscribe-button .elementor-text-editor {
    width: 350px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 14px 30px;
    background-color: $light-purple;
}

.gtb-watch-button .elementor-text-editor:hover {
    background-color: $gold;
}

.gtb-watch-button-top .elementor-text-editor {
    width: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.gtb-watch-button-top .elementor-text-editor a,
.gtb-apply-button-mid .elementor-text-editor a {
    display: block;
    padding: 10px 30px;
    background-color: $light-purple;
    color: #fff;
    font-weight: 600;
    &:hover {
        background-color: $gold;
    }
}

.gtb-subscribe-button .elementor-text-editor {
    background-color: $gold;
    padding: 14px 40px;
    &:hover {
        background-color: $light-purple;
        a {
            color: #fff!important;
        }
    }
    p {
        margin: 0;
    }
    a {
        font-weight: 600;
    }
}

.gtb-bottom-section {
    position: relative;
    overflow: hidden;
    &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-image: url(/wp-content/uploads/2022/08/Group-1.png);
        background-size: 82%;
        top: 13%;
        left: 31%;
        background-repeat: no-repeat;
    }
}

.gtb-bottom-image {
    position: relative;
    &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-image: url(/wp-content/uploads/2022/08/Ellipse-3.png);
        background-size: 107%;
        top: -20px;
        left: -20px;
        background-repeat: no-repeat;
    }
}

// BOOK PAGE
.tall-testimonial.elementor-widget-testimonial-carousel .elementor-main-swiper {
    height: 550px;
}

.tall-testimonial.elementor-widget-testimonial-carousel .swiper-slide {
    height: 475px;
    overflow: scroll;
}